In [ ]:
%reload_ext streamingcli.jupyter.integrations

In [ ]:
%%execute_flink_sql_local_cluster
CREATE TABLE Results (
    word varchar) WITH (
        'connector.type' = 'filesystem',
        'format.type' = 'csv',
        'connector.path' = 'test.csv')

In [ ]:
%%execute_flink_sql_local_cluster
DESCRIBE Results

In [ ]:
%%execute_flink_sql_local_cluster
INSERT INTO Results VALUES('hello'), ('hello2')